.container {
  display: flex;
  width: 80vw;

  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-around;
  border-radius: 1rem;
  margin: 2vh auto;
}
.item1 {
  display: flex;
  width: 65vw;
  height: 35vh;
  margin: 5vw;
}

.item2 {
  display: grid;
  width: 70vw;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-items: center;

  margin-bottom: 4vh;
}
.imgItem {
  width: 20vw;
  height: 13vh;
}
.imgItem:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .container {
    height: 60vh;
  }
  .container,
  .item1,
  .item2 {
    width: 60vw;
  }
  .item1 {
    height: 30vh;
  }
  .imgItem {
    width: 18vw;
  }
}

@media screen and (min-width: 750px) {
  .container,
  .item1,
  .item2 {
    width: 45vw;
  }
  .item1 {
    width: 40vw;
  }

  .imgItem {
    width: 14vw;
  }
}

@media screen and (min-width: 900px) {
  .item2 {
    width: 80vw;
  }
  .container {
    display: flex;
    align-items: center;
    width: 85vw;
    height: 50vh;
  }
  .item1 {
    display: none;
  }

  .imgItem {
    width: 25vw;
    height: 30vh;
  }
}
