h1 {
  padding-top: 1vh;
  color: #0e0e38;
  letter-spacing: 0.15rem;
  margin-left: 5vw;
}
.navList {
  margin: 0px;
  padding-left: 5vw;
  display: flex;
  justify-content: flex-start;
}
.lists {
  display: inline-block;

  margin-right: 1vw;
  font-size: 0.5rem;

  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

@media screen and (min-width: 900px) {
  h1 {
    margin-left: 3vw;
  }
  .navList {
    padding-left: 3vw;
  }
}
